<!DOCTYPE html>
<html>
<head>
    <title>Bookmarks | stash</title>
</head>

<body>
    <div id="header">
        <h1>Bookmarks</h1>

        <ol id="navigation">
            <li><a href="/">Personal</a></li>
            <li><a href="/public">Public</a></li>
            <li><a href="/pagefeed">Pagefeed</a></li>
        </ol>
    </div>

    <div id="add-bookmark">
        <h2>New Bookmark</h2>
        <p>Paste the full url and give it a name.</p>
        <form method="post" action=""> {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="Add Bookmark"/>
        </form>
    </div>

{% if latest_bookmark_list %}
    <table>
    {% for bookmark in latest_bookmark_list %}
        <tr>
            <td><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></td>
            <td><a href="{% url 'edit' pk=bookmark.pk %}">Edit</a></td>
            <td><a href="{% url 'delete' pk=bookmark.pk %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p> No pages are bookmarked.</p>
{% endif %}
