{% extends "bookmarks/base.html" %}

{% block header %}Public{% endblock %}

{% block addbookmark %}
    <h2>New Bookmark</h2>
    <p>Paste the full url and give it a name.</p>
    <form method="post" action=""> {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Add Bookmark"/>
    </form>
{% endblock %}

{% block list %}
{% if latest_bookmark_list %}
<table>
    {% for bookmark in latest_bookmark_list %}
        <tr>
            <td><a href="{{ bookmark.url }}">{{ bookmark.public_name }}</a></td>
            <td><a href="{% url 'edit' bookmark.pk %}">Edit</a></td>
            <td><a href="{% url 'remove_public' bookmark.pk %}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <p> No pages are bookmarked.</p>
{% endif %}
{% endblock %}
